@import url("https://css.gg/chevron-double-right.css");
body {
  color: black;
  background: white;
  font-family: sans-serif;
}

.signup-form {
  width: 768px;
  margin: 0 auto;
  margin-bottom: 25px;
 }

 /*.signup-form dn {
   display: none;
 }

 .dn{
   display: none !important;
}*/
p {
  margin: 0;
  padding: 3px;
  transition: background 0.5s;
  flex: 5;
  font-size: 15px;
  font-weight: 100;
  border-left: 5px solid #DF0000;
}

  .signup-form label {
    margin-right: 25px;
    margin-bottom: 23px; }
  .signup-form input {
    margin-bottom: 23px; }
  .signup-form .signup-form_footer button {
    padding: 5px;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    margin-bottom: 23px; }
    .signup-form_gender fieldset {
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 3px;
      margin-bottom: 23px;
    }
    .signup-form_gender label {
      padding-left: 10px;
      margin-bottom: 23px;
    }
    
    .signup-form_about {
      display: flex;
      margin-bottom: 23px;
    }
    
    .signup-form_about textarea {
      padding: 5px;
      border: 1px solid lightgray;
      border-radius: 3px;
      margin-bottom: 23px;
    }

  .signup-form .error-message__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px; }
  .signup-form .error-message_arrow__right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #bd1402; }
  .signup-form .error-message__top {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute; }
  .signup-form .error-message_arrow__top {
    width: 0;
    height: 0;
    border-top: 6px solid #bd1402;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent; }
  .signup-form .error-message__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px; }
  .signup-form .error-message_arrow__bottom {
    width: 0;
    height: 0;
    border-bottom: 8px solid #bd1402;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent; }
  .signup-form .error-message_body {
    padding: 5px;
    border-radius: 3px;
    background-color: #bd1402;
    color: white;
    font-size: 0.8em; }
  .signup-form .firstName_err-coords {
    top: 59px;
    left: 5px; }
  .signup-form .lastName_err-coords {
    top: 59px;
    left: 180px; } 
  .signup-form .uname_err-coords {
    top: 125px;
    left: 175px; }
  .signup-form .email_err-coords {
    top: 160px;
    left: 140px; }
  .signup-form .age_err-coords {
    top: 195px;
    left: 150px; }
  .signup-form .pwd_err-coords {
    top: 420px;
    left: 10px; }
  .signup-form .conf_pwd_err-coords {
    top: 485px;
    left: 190px; }
  .signup-form .error-message {
    display: none;
    color: #DF0000; }
    
    

/*Dropdown*/

.combo *,
.combo *::before,
.combo *::after {
  box-sizing: border-box;
  margin-bottom: 23px;

}

.combo {
  display: block;
  margin-bottom: 2.5em;
  max-width: 200px;
  position: relative;
}   

.combo::after {
  border-bottom: 2px solid rgb(0 0 0 / 75%);
  border-right: 2px solid rgb(0 0 0 / 75%);
  content: "";
  display: block;
  height: 10px;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -65%) rotate(45deg);
  width: 12px;
}

.combo-input {
  background-color: #f5f5f5;
  border: 2px solid rgb(0 0 0 / 75%);
  border-radius: 4px;
  display: block;
  font-size: 1em;
  min-height: calc(1.4em + 26px);
  padding: 12px 16px 14px;
  text-align: left;
  width: 100%;
}

.open .combo-input {
  border-radius: 4px 4px 0 0;
}

.combo-input:focus {
  border-color: #009188;
  box-shadow: 0 0 4px 2px #009188;
  outline: 4px solid transparent;
}

.combo-label {
  display: block;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 0.25em;
}

.combo-menu {
  background-color: #f5f5f5;
  border: 1px solid rgb(0 0 0 / 75%);
  border-radius: 0 0 4px 4px;
  display: none;
  max-height: 300px;
  overflow-y: scroll;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 100;
}

.open .combo-menu {
  display: block;
}

.combo-option {
  padding: 10px 12px 12px;
}

.combo-option:hover {
  background-color: rgb(0 0 0 / 10%);
}

.combo-option.option-current {
  outline: 3px solid #009188;
  outline-offset: -3px;
}

.combo-option[aria-selected="true"] {
  padding-right: 30px;
  position: relative;
}

.combo-option[aria-selected="true"]::after {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  content: "";
  height: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  width: 8px;
}

/*Password*/
#password_information_label .invalid{
  color:#DF0000;
}

#password_information_label .valid{
  color: #007200;
}

/*Radio button*/
[role=radio] {
  display: block;
  position: relative;
  margin: 0.5em;
  padding-left: 30px;
  border:  transparent solid;
}

/* This creates the visuals for the radio buttons */
[role=radio]::before,
[role=radio]::after {
  display: block;
  position: absolute;
  border-radius: 50%;
  content: '';
}

[role=radio]::before {
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #0d706b;
  background: #fff;
}

[role=radio][aria-checked=true]::after {
  top: 3px;
  left: 3px;
  border: 5px solid #009188;
  content: '';
}

#codeex{
  background-color: #b4f5ea ;
  padding:10px;
}

/*Checkboxes*/
ul.checkboxes {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

ul.checkboxes li {
  list-style: none;
  margin: 6px;
  padding: 0;
}

[role="checkbox"] {
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
}

[role="checkbox"]::before {
  position: relative;
  top: 1px;
  left: -4px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' style='forced-color-adjust: auto;'%3E%3Crect x='2' y='2' height='13' width='13' rx='2' stroke='currentcolor' stroke-width='1' fill-opacity='0' /%3E%3C/svg%3E");
}

[role="checkbox"][aria-checked="true"]::before {
  position: relative;
  top: 1px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' style='forced-color-adjust: auto;'%3E%3Crect x='2' y='2' height='13' width='13' rx='2' stroke='currentcolor' stroke-width='1' fill-opacity='0' /%3E%3Cpolyline points='4,8 7,12 12,5' fill='none' stroke='currentcolor' stroke-width='2' /%3E%3C/svg%3E");
}

[role="checkbox"]:focus,
[role="checkbox"]:hover {
  padding: 2px 6px;
  border: 2px solid #009188;
  border-radius: 5px;
  background-color: rgb(247, 255, 255);
}

[role="checkbox"]:hover {
  cursor: pointer;
}

